/* CSS Reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #363e45;
}

header h1 {
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

header nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 15px;
}

main .bars-wrapper {
    display: flex;
    justify-content: center;
}

.bar {
    background-color: #b7b816;
    width: 4px;
    margin-inline: 2px;
}