/* CSS Reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #363e45;
}

header h1 {
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 20px;
}

main .bars-wrapper {
    display: flex;
    justify-content: center;
}


.bar {
    position: relative;
    background: #b7b816;
    width: 5px;
    margin-inline: 4px;
}

.bar span {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    font-weight: bold;
}